<html>
<head>
    <meta charset="utf-8">
    <!-- encoding must be set for mocha's special characters to render properly -->
    <link rel="stylesheet" href="http://localhost:<%= PORT %>/node_modules/mocha/mocha.css" />\
    <script>
        (<%- globalsInjector %>)('<%- globalJSON %>')
    </script>
</head>

<body>
    <div id="mocha"></div>
    <script src="http://localhost:<%= PORT %>/node_modules/regularjs/dist/regular.min.js"></script>
    <script src="http://localhost:<%= PORT %>/node_modules/mocha/mocha.js"></script>
    <script src="http://localhost:<%= PORT %>/node_modules/chai/chai.js"></script>
    <script src="http://localhost:<%= PORT %>/src/javascript/lib/nej/src/define.js?<% for (var alias in nejPathAliases) { if (nejPathAliases.hasOwnProperty(alias)) {%><%- alias %>=http://localhost:<%= PORT %>/<%- nejPathAliases[alias] %>&<% }}%> "></script>
    <script>
        mocha.ui('bdd');
        <% for (var option in mochaOptions) { if (mochaOptions.hasOwnProperty(option)) { %>
        mocha.<%- option %> ? mocha.<%- option %>(<%- typeof mochaOptions[option] === "string" ? "'" : "" %><%- mochaOptions[option] %><%- typeof mochaOptions[option] === "string" ? "'" : "" %>) : undefined;
        <% }} %>
        expect = chai.expect;
    </script>
    <script>
        var globalPromise = new Promise((resolve, reject) => {
            define([
            <% for(var i = 0; i < testFiles.length; i++) {%>
                "{test}/<%= testFiles[i] %>",
            <% } %>
            ], function () {
                mocha.run(function (err) {
                    if (err) {
                        reject(err);
                    }
                    else {
                        resolve();
                    }
                });
            });
        });
    </script>
</body>

</html>
