<% var url = 'http://localhost:' + PORT.toString(); %>
<% var nodeModulesPath = url + "/node_modules/"; %>
<% var repoPath = nodeModulesPath + "nej-mocha/"; %>
<% var repoNodeModulesPath = repoPath + "node_modules/"; %>

<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="<%- nodeModulesPath %>mocha/mocha.css" />
</head>

<body>
    <div id="mocha"></div>
    <% for (var i = 0; i < scriptsToInject.length; i++) {%>
    <script src="<%- scriptsToInject[i] %>"></script>
    <% } %>
    <script src="<%- repoPath %>bower_components/nej/src/define.js?<% for (var alias in nejPathAliases) { if (nejPathAliases.hasOwnProperty(alias)) {%><%- alias %>=<%- url %>/<%- nejPathAliases[alias] %>&<% }}%> "></script>
    <script src="<%- repoPath %>lib/escodegen.js"></script>
    <script src="<%- repoPath %>dist/bundle.js"></script>
    <script>
        window.globalsInjector('<%- globalJSON %>');

        window.dependencyInjectionArr = <% if (dependencyInjectionArr) {%> <%- JSON.stringify(dependencyInjectionArr) %> <% } else {%> [] <% } %>;
        window.testFiles = <% if (testFiles) {%> <%- JSON.stringify(testFiles) %> <% } else {%> [] <% } %>;
        window.userConfig = <% if (userConfig) {%> <%- JSON.stringify(userConfig) %> <% } else {%> [] <% } %>;

        define([], function () {
            window.mochaSetup(window.mocha, window.userConfig.mochaOptions);

            window.runTest(window.testFiles, window.mocha);
        });
    </script>
</body>

</html>
