<% var url = 'http://localhost:' + PORT.toString(); %>
<% var repoPath = url + "/node_modules/nej-mocha/"; %>

<% if (__DEV_TEST__) { %>
<%     repoPath = url + '/'; %>
<% } %>

<% var repoNodeModulesPath = repoPath + "node_modules/"; %>

<html>
<head>
    <meta charset="utf-8">
</head>

<body>
    <div id="mocha"></div>
    <% for (var i = 0; i < scriptsToInject.length; i++) {%>
    <script src="<%- scriptsToInject[i] %>"></script>
    <% } %>
    <script src="<%- repoPath %>bower_components/nej/src/define.js?<% for (var alias in nejPathAliases) { if (nejPathAliases.hasOwnProperty(alias)) {%><%- alias %>=<%- url %>/<%- nejPathAliases[alias] %>&<% }}%> "></script>
    <script src="<%- repoPath %>lib/escodegen.js"></script>
    <script src="<%- repoPath %>dist/bundle.js"></script>
    <script>
        window.globalsInjector('<%- globalJSON %>');

        window.dependencyInjectionArr = <% if (dependencyInjectionArr) {%> <%- JSON.stringify(dependencyInjectionArr) %> <% } else {%> [] <% } %>;
        window.testFiles = <% if (testFiles) {%> <%- JSON.stringify(testFiles) %> <% } else {%> [] <% } %>;
        window.userConfig = <% if (userConfig) {%> <%- JSON.stringify(userConfig, function (key, val) { if (val instanceof RegExp) { return { source: val.source, flags: val.flags }; } else { return val; } }) %> <% } else {%> [] <% } %>;

        define([], function () {
            window.mochaSetup(window.mocha, window.userConfig.mochaOptions);

            window.runTest(window.testFiles, window.mocha);
        });
    </script>
</body>

</html>
